/* селектор {
    свойство: значение;
    свойство: значение;
    свойство: значение;
} */

* {
    box-sizing: border-box;
}

p mark {
    color: #d92828b6;
}

h1, h2, h3 {
    text-align: center;
}

.first {
    margin-top: 150px;
    color: blue;
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    text-decoration: line-through;
    text-transform: uppercase;
}

#second {
    color: pink;
}

.marked {
    color: yellow;
}

.box {
    display: inline-block;
    width: 300px;
    min-height: 300px;
    background-color: red;
    /* border-color: black;
    border-width: 5px;
    border-style: solid; */
    border: 5px solid black;
    padding: 50px 20px;
    margin: 20px;
}

.cover {
    display: block;
    width: 400px;
    margin: 50px auto 0 auto;
}
