/* селектор {
    свойство: значение;
    свойство: значение;
    свойство: значение;
} */

p mark {
    color: #d92828b6;
}

h1, h2, h3 {
    text-align: center;
}

.first {
    color: blue;
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    text-decoration: line-through;
    text-transform: uppercase;
}

#second {
    color: pink;
}

.marked {
    color: yellow;
}
